

/* The main Header for Tweeter */
#main-header {
  height: 400px;
  width: 100%;
  margin-top: 120px;
  background-color: lavender;
  background-image: url("../images/arabesque.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The User Name in the main Header */
header .user-name {
  margin: 0;
}
