

/* The tweet article */
.tweet {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 1.25em;
  border: 5px solid grey;
  /* display: flex; */
}

/* The tweet article box-hadow effect */
.tweet:hover {
  box-shadow: 5px 5px grey;
}

/* The tweet article header */
.tweet-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* The tweet article avatar and user name section */
article .persona {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* The tweet article user name */
.persona > p {
  margin-left: 20px;
}

/* The tweet article user handle */
.handle {
  color: rgb(185, 179, 179);
}

/* The tweet article text display line */
.statement {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 5px solid grey;
}

/* The tweet article footer */
.tweet-footer {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

/* The tweet article footer icons */
.icons > i {
  padding-left: 10px;
}

/* The tweet article footer icon hover effect */
.tweet-footer .icons :hover {
  color: darkgoldenrod;
}

